{% extends 'inventory/base_inventory.html' %}

{% block title %}
    Productos - Lista
{% endblock %}

{% block content %}
<div class="container mx-auto">

    <!-- Tabla -->
    <div class="relative overflow-x-visible shadow-md sm:rounded-lg">
        <div class="flex justify-between items-center py-4 bg-white dark:bg-gray-900 px-4">
            <div class="relative mt-1">
                <label for="table-search" class="sr-only">Buscar</label>
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="text" id="table-search" class="block w-80 pl-10 pr-3 py-2 border border-gray-300 rounded-lg text-sm focus:ring-indigo-500 focus:border-indigo-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-indigo-500 dark:focus:border-indigo-500" placeholder="Buscar en la tabla">
            </div>
            <button onclick="toggleModal('addProductModal')" class="inline-flex items-center px-4 py-2 text-white bg-indigo-600 rounded-lg shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                <svg class="w-5 h-5 mr-2 -ml-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 5v10m5-5H5"/>
                </svg>
                Agregar Producto
            </button>
        </div>
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 p-4">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">Nombre</th>
                    <th scope="col" class="px-6 py-3">SKU</th>
                    <th scope="col" class="px-6 py-3">Categoría</th>
                    <th scope="col" class="px-6 py-3">Cantidad</th>
                    <th scope="col" class="px-6 py-3">Proveedores</th>
                    <th scope="col" class="px-6 py-3 text-right">Acciones</th>
                </tr>
            </thead>
            <tbody id="products-table-body">
                <!-- Aquí se cargarán los productos dinámicamente -->
            </tbody>
        </table>

        <!-- Paginación -->
        <div id="pagination-controls" class="flex justify-center mt-4">
            <!-- Los controles de paginación se generarán aquí -->
        </div>
    </div>
</div>

{% include 'inventory/partials/modal_add_producto.html' %}
{% include 'inventory/partials/modal_ver_detalles.html' %}
{% include 'inventory/partials/modal_stock.html' %}

<script>
    let currentSearchTerm = '';  // Variable para almacenar el término de búsqueda actual

    function toggleMenu(button) {
        const menu = button.nextElementSibling;
        menu.classList.toggle('hidden');
    }

    function toggleModal(modalId) {
        const modal = document.getElementById(modalId);
        modal.classList.toggle('hidden');
        if (modalId === 'addProductModal' && modal.classList.contains('hidden')) {
            resetModalForm();
        }
    }

    function resetModalForm() {
        const form = document.getElementById('productForm');
        form.reset();
        $('#proveedores').val(null).trigger('change'); // Resetea el select de proveedores
    }

    function loadProducts(page = 1, searchTerm = '') {
        fetch(`/inventario/api/productos/?page=${page}&search=${searchTerm}`, {
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${localStorage.getItem('token')}`
            }
        })
        .then(response => response.json())
        .then(data => {
            const productsTableBody = document.getElementById('products-table-body');
            productsTableBody.innerHTML = '';
    
            if (data.results && data.results.length > 0) {
                data.results.forEach(product => {
                    productsTableBody.innerHTML += `
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                ${product.nombre}
                            </th>
                            <td class="px-6 py-4">${product.sku}</td>
                            <td class="px-6 py-4">${product.categoria}</td>
                            <td class="px-6 py-4">${product.cantidad}</td>
                            <td class="px-6 py-4">${product.proveedores.join(', ')}</td>
                            <td class="px-6 py-4 text-right">
                                <div class="relative inline-block text-left">
                                    <button type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-2 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" id="options-menu" aria-expanded="false" aria-haspopup="true" onclick="toggleMenu(this)">
                                        <svg class="ml-1 mr-1 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path d="M5.75 9a1.25 1.25 0 110 2.5A1.25 1.25 0 015.75 9zM10 9a1.25 1.25 0 110 2.5A1.25 1.25 0 0110 9zM14.25 9a1.25 1.25 0 110 2.5A1.25 1.25 0 0114.25 9z"/>
                                        </svg>
                                    </button>
                                    <div class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none z-50 hidden" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                                        <div class="py-1" role="none">
                                            <a href="#" class="text-gray-700 block px-4 py-2 text-sm hover:bg-indigo-100" role="menuitem" onclick="handleAction('agregar_stock', ${product.id})">Agregar Stock</a>
                                            <a href="#" class="text-gray-700 block px-4 py-2 text-sm hover:bg-indigo-100" role="menuitem" onclick="handleAction('descontar_stock', ${product.id})">Descontar Stock</a>
                                            <a href="#" class="text-gray-700 block px-4 py-2 text-sm hover:bg-indigo-100" role="menuitem" onclick="handleAction('ver_detalles', ${product.id})">Ver Detalles</a>
                                            <a href="#" class="text-red-700 block px-4 py-2 text-sm hover:bg-red-100" role="menuitem" onclick="handleAction('eliminar', ${product.id})">Eliminar</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>`;
                });
            } else {
                productsTableBody.innerHTML = `<tr><td colspan="6" class="text-center py-4">No se encontraron productos.</td></tr>`;
            }
    
            const paginationControls = document.getElementById('pagination-controls');
            paginationControls.innerHTML = '';
    
            if (data.previous) {
                paginationControls.innerHTML += `<a href="#" onclick="loadProducts(${page - 1}, '${searchTerm}')" class="px-4 py-2 mx-1 text-sm font-medium text-gray-700 bg-white dark:bg-gray-800 dark:border-gray-600 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">&laquo;</a>`;
            }
    
            for (let i = 1; i <= data.total_pages; i++) {
                paginationControls.innerHTML += `<a href="#" onclick="loadProducts(${i}, '${searchTerm}')" class="px-4 py-2 mx-1 text-sm font-medium ${i === page ? 'bg-indigo-500 text-white' : 'bg-white text-gray-700 dark:bg-gray-800 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700'}">${i}</a>`;
            }
    
            if (data.next) {
                paginationControls.innerHTML += `<a href="#" onclick="loadProducts(${page + 1}, '${searchTerm}')" class="px-4 py-2 mx-1 text-sm font-medium text-gray-700 bg-white dark:bg-gray-800 dark:border-gray-600 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">&raquo;</a>`;
            }
        })
        .catch(error => console.error('Error:', error));
    }

    function handleAction(action, productId) {
        let url = '';
        let method = 'POST';
        let message = '';

        switch (action) {
            case 'agregar_stock':
                openStockModal('Agregar Stock', productId, 'agregar_stock');
                return;
            case 'descontar_stock':
                openStockModal('Descontar Stock', productId, 'descontar_stock');
                return;
            case 'ver_detalles':
                mostrarDetallesProducto(productId);  // Llama a la función para cargar y mostrar los detalles del producto
                return;
            case 'eliminar':
                url = `/inventario/api/productos/${productId}/delete/`;
                method = 'DELETE';
                message = 'Producto eliminado exitosamente.';
                break;
            default:
                console.error('Acción no reconocida:', action);
                return;
        }

        fetch(url, {
            method: method,
            headers: {
                'Authorization': `Bearer ${localStorage.getItem('token')}`,
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => {
            if (response.ok) {
                loadProducts(1, currentSearchTerm);  // Recargar los productos después de la acción
                alert(message);
            } else {
                console.error('Error en la acción:', response);
            }
        })
        .catch(error => console.error('Error:', error));
    }

    function openStockModal(title, productId, action) {
        document.getElementById('modalStockTitle').textContent = title;
        document.getElementById('stockProductId').value = productId;
        document.getElementById('stockForm').setAttribute('data-action', action);
        toggleModal('stockModal');
    }

    function submitStockForm(event) {
        event.preventDefault();

        const form = event.target;
        const action = form.getAttribute('data-action');
        const productId = document.getElementById('stockProductId').value;
        const cantidad = document.getElementById('cantidad_stock').value;

        let url = '';
        if (action === 'agregar_stock') {
            url = `/inventario/api/productos/${productId}/agregar_stock/`;
        } else if (action === 'descontar_stock') {
            url = `/inventario/api/productos/${productId}/descontar_stock/`;
        }

        fetch(url, {
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${localStorage.getItem('token')}`,
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ cantidad })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                toggleModal('stockModal');
                loadProducts(1, currentSearchTerm);  // Recargar la lista de productos
                alert(data.message);
            } else {
                alert(data.message);
            }
        })
        .catch(error => console.error('Error:', error));
    }

    function mostrarDetallesProducto(productId) {
        fetch(`/inventario/api/productos/${productId}/detalles/`, {
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${localStorage.getItem('token')}`
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                console.error(data.error);
                alert('Error al cargar los detalles del producto.');
                return;
            }
    
            document.getElementById('detalleNombre').textContent = data.nombre;
            document.getElementById('detalleSKU').textContent = data.sku;
            document.getElementById('detalleCategoria').textContent = data.categoria;
            document.getElementById('detalleCantidad').textContent = data.cantidad;
            document.getElementById('detalleProveedores').textContent = data.proveedores.join(', ');
            document.getElementById('detalleDescripcion').textContent = data.detalle.descripcion;
            document.getElementById('detallePrecio').textContent = data.detalle.precio;
            document.getElementById('detallePeso').textContent = data.detalle.peso || 'N/A';
            document.getElementById('detalleLongitud').textContent = data.detalle.longitud || 'N/A';
            document.getElementById('detalleAnchura').textContent = data.detalle.anchura || 'N/A';
            document.getElementById('detalleAltura').textContent = data.detalle.altura || 'N/A';
            document.getElementById('detalleColor').textContent = data.detalle.color || 'N/A';
            document.getElementById('detalleMaterial').textContent = data.detalle.material || 'N/A';
            document.getElementById('detalleGarantia').textContent = data.detalle.garantia || 'N/A';
            document.getElementById('detalleOtrasEspecificaciones').textContent = data.detalle.otras_especificaciones || 'N/A';
    
            toggleModal('verDetallesModal');
        })
        .catch(error => console.error('Error:', error));
    }

    document.addEventListener('DOMContentLoaded', function() {
        loadProducts();  // Cargar los productos al cargar la página
    });

    document.getElementById('table-search').addEventListener('input', function(event) {
        currentSearchTerm = event.target.value;  // Actualizar el término de búsqueda
        loadProducts(1, currentSearchTerm);  // Recargar los productos con el término de búsqueda
    });

    document.getElementById('productForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const formData = new FormData(event.target);
        console.log('Datos del formulario:', Object.fromEntries(formData));

        fetch('/inventario/api/productos/', {
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${localStorage.getItem('token')}`,
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === "success") {
                console.log(data.message);
                toggleModal('addProductModal');  
                loadProducts(1, currentSearchTerm);  
            } else {
                console.error('Error en el servidor:', data.errors);
            }
        })
        .catch(error => console.error('Error:', error));
    });
</script>
{% endblock %}
